<!DOCTYPE html>

<html>

  <head>
    <title>Issue Tracker for freeCodeCamp - by Rakib</title>
    <meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/b39281f3-c76d-42e6-97c0-8105f809af4e%2Ffavicon.jpg?1554901775606">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/public/style.css"> 
  </head>
  
  
  
  <body>
    <div class="container fourohfour">
      <h1>404</h1>
      <p>
        Looks like this page doesn't exist. Sorry about that.
      </p>
      <p>
        Let's <a href="/" title="">go back to the home page</a>, yeah?
      </p>

    </div>

  </body>
  
</html>